/* =======================
Typograhy
========================== */
.search-icon {
    font-size: 1.2rem;
    color: #BDC3C7;
    position: absolute;
    right: 90px;
}
#keyword{
    font-size: 0.75rem;
}
.section-title{
    margin-top: 4rem;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-align: center;
}
/* ========================
Layout
=========================== */
.card{
    max-width: 300px;
}
.unit-image{
    max-height: 500px;
    max-width: 100%;
}
.loader {
    border: 16px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #3498db;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin: 88px auto;
    position: relative;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.unit-gallery-body{
    height: 100vh;
    background-color: rgb(248, 249, 250);
}
.section-body{
    min-height: 100vh;
    background-color: #f8f9fa;
}
.section-gallery{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.about-section{
    min-height: 100vh;
}
.nav-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.nav-bar li {
    float: left;
}
#navContainer{
    margin-left: 1em;
    margin-right: 1em;
    border-radius:20px 20px 0 0;
    background-color: white;/*#1E90FF #F0F8FF*/
    overflow: hidden;
}
.nav-bar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 0.9em;
}
.nav-bar li a:hover,
.selected {
    color:#2196F3 !important;
}
.selected{
    border-top: 2px solid #2196F3;
}